.videosDetail {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 60rem;
}
.videosDetail > li {
  width: 100%;
  display: flex;
}
.videosDetail > li > div {
  display: flex;
  flex-direction: row;
}

.videosDetail > li > div img {
  width: 17rem;
  height: 9.5rem;
}

@media screen and (max-width: 800px) {
  .videosDetail {
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  .videosDetail > li > div {
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
  }
}
