.container{
  width: 10%;
  list-style: none;
  background: black;
  margin: 0;
  padding: 0;
}
.container>li{
  padding: 10px;
  margin-left: 10px;
}
.container>li:first-child{
  margin-top: 30px;
}

.icons{margin-right: 10%;}

@media screen and (max-width: 1200px) { 
  .container{display: none;}
}