.header {
  display: flex;
  height: 10rem;
  background: black;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 40px;
  height: 40px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 23rem;
  justify-content: center;
}

.title a {
  font-size: 2rem;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex: 1 1 30%;
  height: 5rem;
}

.inputContainer .input {
  font-size: 1.2rem;
  outline: 0;
  width: calc(100% - 5rem);
  padding: 0 1rem;
}
.inputContainer .button {
  background-color: darkgrey;
  height: 5rem;
  outline: 0;
  width: 5rem;
  cursor: pointer;
}

.inputContainer .buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}

.iconsContainer {
  display: flex;
  text-align: right;
  width: 7%;
  justify-content: space-around;
}
.iconsContainer > a {
  display: inline-block;
  width: max-content;
  height: 100%;
  overflow: hidden;
  font-size: 3rem;
}

.youtube-icon {
  font-size: 20px;
  color: red;
}

@media screen and (max-width: 1200px) {
  .title,
  .iconsContainer {
    display: none;
  }
  .input {
    width: 100%;
  }

  .logoContainer {
    width: 20%;
  }
}
